body {
    background-image: url("boba.jpg"); /* The image used */
     background-color: #000000; /* Used if the image is unavailable */
     height: 100%; /* You must set a specified height */
     background-position: center; /* Center the image */
     background-repeat: no-repeat; /* Do not repeat the image */
     background-size: cover; /* Resize the background image to cover the entire container */
   
}
    div#nav{
    text-align: center;
  }
  div#nav ul{
    display: inline-block;
  } 